MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root_password_123

MONGO_APP_USERNAME=retail_app_user
MONGO_APP_PASSWORD=retail_app_password_123
MONGO_DATABASE=retail_discount_db

APP_CLIENT_ID=retail-app-v1
APP_CLIENT_SECRET=super-secret-key-789

SERVER_PORT=8080